{% extends 'layouts/page.html' %}

<div class="page">
    <div class="question-list-item">
        {% block content %}
            {% if question_list %}
                <ul>
                {% for Pergunta in question_list %}
                <div class="question-list-item-title">
                    <li><a href="{% url 'detail' Pergunta.id %}">{{ Pergunta.pergunta }}</a></li>
                </div>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        {% endblock %}
    </div>
</div>